@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #000000;
    color: white;
    font-family: 'Roboto';
}

header{
    text-align: center;
    font-size: 30px;
}

.display{
display: flex;
align-items: center;
justify-content: center;
position: relative;
margin-top: 3rem;
gap: 2rem;
}

#hour{
    width:max-content;
    font-size: 400px;
    background-color: #1a1a1a;
    font-weight: bold;
    padding: 5px;
    border-radius: 100px 0;
    border: solid transparent;
    transition: all 1s ease-in-out;
}

#minute{
    width:max-content;
    font-size: 400px;
    background-color: #1a1a1a;
    font-weight: bold;
    padding: 5px;
    border-radius: 0 100px;
    border: solid transparent;
    transition: all 1s ease-in-out;
}

#amPM{
    position: absolute;
    top: 0;
    left: 150px;
    font-size: 3rem;
    font-weight: bold;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 10px 20px;
    border: solid transparent;
    transition: all 1s ease-in-out;
}

#minute:hover, #hour:hover, #amPPM:hover{
    border: solid white;
}
